<div class="content">

    <app-dashboard></app-dashboard>
    <div class="table-content">

        <div class="butto-content">
            <a href="register" class="create-button">Cadastrar</a>
        </div>

        <div style="max-height: 400px; overflow-y: auto;">
            <table>
                <thead style="position: sticky; top: 0;">
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Número</th>
                        <th>Género</th>
                        <th>Confimaçao</th>
                        <th>Acção</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let guests of data; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ guests.name }}</td>
                        <td>{{ guests.number }}</td>
                        <td>{{ guests.gender }}</td>
                        <td>{{ guests.confirmation }}</td>
                        <td><button title="Editar" class="buttonUpdate" (click)="update(guests.id)">EDITAR</button>
                            <button (click)="deleteGuest(guests.id)" title="Eliminar"
                                class="buttonDelete">ELIMINAR</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>