.container {
    background: #461f1f;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBody {
    display: flex;
    justify-content: center;
}