
// Para login
// .container {
//     background: #9c9c9c;
//     height: 100vh;
//     color: white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .containerBody {
//     display: flex;
//     justify-content: center;
// }

//para dashboard
.container{
    background: #e4e4e4;
    height: 100vh;
    color: white; 
}
