<div class="container">
    <div class="sidebar-body">

        <h2 class="title">InviteHub</h2>

        <div class="sidebar-info">
            <ul>
                <li class="">
                    HOME
                    <ol>
                        <li class="li-item">Convidados</li>
                        <li class="li-item">Cadastrar</li>
                        <li class="li-item">Pesquisar</li>
                    </ol>
                </li>
            </ul>
        </div>

        <h2 class="footer-text">Sair</h2>
    </div>

    <div class="content">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Número</th>
                        <th>Género</th>
                        <th>Confimaçao</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chris Alberto</td>
                        <td>945 213 730</td>
                        <td>Masculino</td>
                        <td>Nao</td>
                    </tr>
                    <tr>
                        <td>Hernany Simao</td>
                        <td>930 000 000</td>
                        <td>Masculino</td>
                        <td>Nao</td>
                    </tr>
                    <tr>
                        <td>Josias Almeida</td>
                        <td>922 000 000</td>
                        <td>Masculino</td>
                        <td>Sim</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>