<div class="sidebar-container">
    <div class="sidebar-body">

        <h2 class="title">InviteHub</h2>

        <div class="sidebar-info">
            <ul>
                <li class="">
                    HOME
                    <ol>
                        <li class="li-item">Convidados</li>
                        <li class="li-item">Cadastrar</li>
                        <li class="li-item">Pesquisar</li>
                    </ol>
                </li>
            </ul>
        </div>

        <h2 class="footer-text">Sair</h2>
    </div>
</div>