<div class="container">

    <div class="content">

        <p class="title">Registrar convidado</p>

        <div class="form-content">
            <label>Nome</label>
            <input class="input-form" placeholder="Digtite o seu nome" type="text" />

            <label>Número</label>
            <input class="input-form" placeholder="Digtite o seu número" type="text" />

            <label>Genero</label>

            <div>
                <input type="radio" id="masculino" name="genero" value="m">
                <label for="masculino">Masculino</label><br>
                <input type="radio" id="feminino" name="genero" value="f">
                <label for="feminino">Feminino</label><br>
            </div>

            <div class="">
                <button class="button-create">Registrar</button>
            </div>

        </div>
    </div>
</div>