<div class="container">
    <div class="containerBody">

        <div class="card">

            <div class="cardContainer">

                <h2 class="title">Bem vindo ao InviteHub</h2>
                <div class="cardInfo">

                    <div class="cardForm">

                        <label>Email</label>
                        <input type="text" placeholder="Digite o seu email" class="cardInput"
                            [(ngModel)]="formData.email">

                        <label>Senha</label>
                        <input type="password" placeholder="Digite a sua senha" class="cardInput"
                            [(ngModel)]="formData.password" required>
                    </div>

                    <div class="">
                        <button (click)="login()" class="button">Entrar</button>
                    </div>
                </div>

                <p>Nao tens uma conta?<a href="register-user">Crie já</a></p>

            </div>

        </div>

    </div>
</div>