<div class="card">

    <div class="cardContainer">

        <h2 class="title">Bem vindo ao InviteHub</h2>
        <div class="cardInfo">

            <div class="cardForm">
                <label>Email</label>
                <input type="text" placeholder="Digite o seu email" class="cardInput">

                <label>Senha</label>
                <input type="text" placeholder="Digite a sua senha" class="cardInput">
            </div>

            <div class="">
                <button class="button">Entrar</button>
            </div>
        </div>

        <p>Nao tens uma conta?<a href="">Crie já</a></p>

    </div>

</div>