@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card {
    width: 400px;
    height: 400px;
    background-color: #0366d6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;

}

.cardContainer {
    justify-content: center;
}

.cardForm {
    display: flex;
    flex-direction: column;
}

.cardInput {
    width: 290px;
    height: 28px;
    border-radius: 7px;
}

.button {
    border-radius: 15px;
    width: 290px;
    height: 28px;
    background-color: #ffffff;
    margin-top: 15px;
}