<div class="container">
    <div class="containerBody">

        <div class="card">

            <div class="cardContainer">

                <h2 class="title">Criar conta</h2>
                <div class="cardInfo">

                    <div class="cardForm">
                        <label>Nome</label>
                        <input class="cardInput" placeholder="Digite o seu nome" type="text"
                            [(ngModel)]="formData.name">

                        <label>Email</label>
                        <input class="cardInput" placeholder="Digite o seu email" type="email"
                            [(ngModel)]="formData.email">

                        <label>Telefone</label>
                        <input class="cardInput" placeholder="Digite o seu número" type="number"
                            [(ngModel)]="formData.phoneNumber">

                        <label>Password</label>
                        <input class="cardInput" placeholder="Digite a sua senha" type="password"
                            [(ngModel)]="formData.password">
                    </div>

                    <div class="">
                        <button (click)="register()" class="button">Entrar</button>
                    </div>
                </div>

                <p>Já tens uma conta?<a href="">Entrar</a></p>

            </div>

        </div>

    </div>
</div>